// <------------- HEADER ------------->

.header {
    &__burger {
        display: none;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        margin-top: 5px;
    }
    &__logo svg {
        fill: #fff;
        width: 40px;
        height: 40px;
    }
    &__menu-list {
        display: flex;
    }
    &__menu-link {
        display: inline-block;
        color: $accent;
        margin-left: 55px;
        text-transform: uppercase;
        text-decoration: none;
    }
    &__menu-link::after {
        content: " ";
        display: block;
        width: 0;
        height: 2px;
        background: $accent;
        transition: width 0.3s;
    }
    &__menu-link:hover::after {
        // Анімація підчеркування з ліва на право
        width: 100%;
        transition: width 0.3s;
    }
}

@media (max-width: 1000px) {
    .header {
        &__logo {
            z-index: 5; // Назначаємо лого поверх всіх інших
        }
        &__menu {
            // Фіксуємо меню та розміщуємо вертикально
            position: fixed;
            width: 100%;
            margin-top: 270px;
            display: flex;
            flex-direction: column;
        }

        &__menu-list {
            //Розміщуємо та ховаємо меню за межі сторінки
            position: absolute;
            z-index: 5;
            flex-direction: column;
            align-items: center;
            top: -90px;
            left: -100px;
            right: 0;
            bottom: 0;
            height: 100vh; // Меню на всю висоту екрану
            transform: translateY(-100%);
            transition: transform 0.3s ease;
            overflow: auto;
        }
        &__menu-item {
            margin-bottom: 30px;
        }
        &__menu-link {
            margin-left: 5px;
        }
        &__burger {
            // На цьому поінті відображаємо меню, та задаємо ширину та висоту
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 10;
            cursor: pointer;
        }
        &__burger span {
            // Малюємо через span середню лінію
            position: absolute;
            background-color: $accent;
            width: 100%;
            height: 2px;
            left: 0;
            top: 9px;
            transition: all 0.3s ease;
        }
        &__burger::before,   // Малюємо верхню та нижні лінії
        &__burger::after {
            content: "";
            background-color: $accent;
            position: absolute;
            width: 100%;
            height: 2px;
            transition: all 0.3s ease;
        }
        &__burger::before {
            //Переміщаємо на верх першу лінію
            top: 0;
        }
        &__burger::after {
            //Переміщаємо на низ останню лінію
            bottom: 0;
        }
    }
    .header__menu-list.header__menu-list--active {
        //Якщо 2 класи поряд - меню їде до низу в межі сторінки
        transform: translateY(0);
        transition: transform 0.3s ease;
        background-color: $default;
    }
    .header__burger.header__burger--active::before {
        //Розвертаємо верхну полоску та опускаємо її
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.header__burger--active::after {
        // Розвертаємо нижню полоску та підіймаємо її
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.header__burger--active span {
        // Ховаємо середню полоску
        display: none;
    }
    body.body--lock {
        // При розгорнутому меню задній фон та текст не скролиться
        overflow: hidden;
    }
}
