$accent: #633DFF;   //Акцентні кольори макету
$default: #fff;


%outfit-500 {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
}
%outfit-400 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}



%space-700 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}




