$accent: #E4E4E4;  // title  //Акцентні кольори макету
$default: #fff;


%oswald-300 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
%oswald-400 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
%oswald-600 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
%oswald-700 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}


