<section class="portfolio" id="portfolio">
    <div class="portfolio__container">

        <div class="portfolio__inner">
            <h2 class="portfolio__title">Portfolio</h2>
            <div class="portfolio__items">
                <div class="portfolio__item">
                    <img class="portfolio__item-img" src="../images/temp-photo.jpg" alt="">
                    <a class="portfolio__item-link" href="">Description project here</a>
                </div>
                <div class="portfolio__item">
                    <img class="portfolio__item-img" src="../images/temp-photo.jpg" alt="">
                    <a class="portfolio__item-link" href="">Description project here</a>
                </div>
                <div class="portfolio__item">
                    <img class="portfolio__item-img" src="../images/temp-photo.jpg" alt="">
                    <a class="portfolio__item-link" href="">Description project here</a>
                </div>
                <div class="portfolio__item">
                    <img class="portfolio__item-img" src="../images/temp-photo.jpg" alt="">
                    <a class="portfolio__item-link" href="">Description project here</a>
                </div>
            </div>
        </div>

    </div>
</section>