<section class="portfolio" id="portfolio">
    <div class="portfolio__container">

        <div class="portfolio__inner">
            <h2 class="portfolio__title title">Portfolio</h2>
            <div class="portfolio__items">
                <div class="portfolio__item">
                    <img class="portfolio__item-img" src="../images/temp-photo.jpg" alt="">
                    <h5 class="portfolio__item-title">Project name</h5>
                    <p class="portfolio__item-description">Project about something</p>
                    <div class="portfolio__links">
                        <a class="portfolio__link-live" href="" target="_blank">Live preview</a>
                        <a class="portfolio__link-check" href="" target="_blank">Check on GitHub</a>
                    </div>
                </div>
                <div class="portfolio__item">
                    <img class="portfolio__item-img" src="../images/temp-photo.jpg" alt="">
                    <h5 class="portfolio__item-title">Project name</h5>
                    <p class="portfolio__item-description">Project about something</p>
                    <div class="portfolio__links">
                        <a class="portfolio__link-live" href="" target="_blank">Live preview</a>
                        <a class="portfolio__link-check" href="" target="_blank">Check on GitHub</a>
                    </div>
                </div>
                <div class="portfolio__item">
                    <img class="portfolio__item-img" src="../images/temp-photo.jpg" alt="">
                    <h5 class="portfolio__item-title">Project name</h5>
                    <p class="portfolio__item-description">Project about something</p>
                    <div class="portfolio__links">
                        <a class="portfolio__link-live" href="" target="_blank">Live preview</a>
                        <a class="portfolio__link-check" href="" target="_blank">Check on GitHub</a>
                    </div>
                </div>
                <div class="portfolio__item">
                    <img class="portfolio__item-img" src="../images/temp-photo.jpg" alt="">
                    <h5 class="portfolio__item-title">Project name</h5>
                    <p class="portfolio__item-description">Project about something</p>
                    <div class="portfolio__links">
                        <a class="portfolio__link-live" href="" target="_blank">Live preview</a>
                        <a class="portfolio__link-check" href="" target="_blank">Check on GitHub</a>
                    </div>
                </div>
                
            </div>

        </div>
    </div>


</section>