<section class="portfolio" id="portfolio">
    <div class="portfolio__container">

        <div class="portfolio__inner">
            <h2 class="portfolio__title title">Portfolio</h2>
            <div class="portfolio__items">
                <div class="portfolio__item">
                    <img class="portfolio__item-img" src="../images/preview-ai.jpg" alt="">
                    <h5 class="portfolio__item-title">AI-Powered Chatbot</h5>
                    <p class="portfolio__item-description"></p>
                    <div class="portfolio__links">
                        <a class="portfolio__link-live" href="https://ftrixy.github.io/AI_Project/" target="_blank">Live
                            preview</a>
                        <a class="portfolio__link-check" href="https://github.com/ftrixy/AI_Project"
                            target="_blank">Check on GitHub</a>
                    </div>
                </div>
                <div class="portfolio__item">
                    <img class="portfolio__item-img" src="../images/preview-design.jpg" alt="">
                    <h5 class="portfolio__item-title">Creative Design</h5>
                    <p class="portfolio__item-description"></p>
                    <div class="portfolio__links">
                        <a class="portfolio__link-live" href="https://ftrixy.github.io/Design_Project/"
                            target="_blank">Live preview</a>
                        <a class="portfolio__link-check" href="https://github.com/ftrixy/Design_Project"
                            target="_blank">Check on GitHub</a>
                    </div>
                </div>
                <div class="portfolio__item">
                    <img class="portfolio__item-img" src="../images/preview-wawe.jpg" alt="">
                    <h5 class="portfolio__item-title">WAWE Surf school</h5>
                    <p class="portfolio__item-description"></p>
                    <div class="portfolio__links">
                        <a class="portfolio__link-live" href="https://ftrixy.github.io/landing_Wave/"
                            target="_blank">Live preview</a>
                        <a class="portfolio__link-check" href="https://github.com/ftrixy/landing_Wave"
                            target="_blank">Check on GitHub</a>
                    </div>
                </div>
                <div class="portfolio__item">
                    <img class="portfolio__item-img" src="../images/preview-gift.jpg" alt="">
                    <h5 class="portfolio__item-title">Gift finder</h5>
                    <p class="portfolio__item-description"></p>
                    <div class="portfolio__links">
                        <a class="portfolio__link-live" href="https://ftrixy.github.io/landing_Gift-Store/"
                            target="_blank">Live preview</a>
                        <a class="portfolio__link-check" href="https://github.com/ftrixy/landing_Gift-Store"
                            target="_blank">Check on GitHub</a>
                    </div>
                </div>
                <div class="portfolio__item">
                    <img class="portfolio__item-img" src="../images/preview-indicorp.jpg" alt="">
                    <h5 class="portfolio__item-title">Indicorp</h5>
                    <p class="portfolio__item-description"></p>
                    <div class="portfolio__links">
                        <a class="portfolio__link-live" href="https://ftrixy.github.io/landing_Indicorp/"
                            target="_blank">Live preview</a>
                        <a class="portfolio__link-check" href="https://github.com/ftrixy/landing_Indicorp"
                            target="_blank">Check on GitHub</a>
                    </div>
                </div>

            </div>

        </div>
    </div>


</section>