<section class="promo" id="home">
    <div class="container">

        <div class="promo__inner">

            <div class="promo__info">
                <h5 class="promo__subtitle">Hello</h5>
                <h2 class="promo__title">I’m Dmytro Kravets</h2>
                <p class="promo__text">I've been doing frontend for a year now. You can see my portfolio below.
                    <br>Do you need a site layout? Then contact me.
                </p>
                <div class="promo__btn">
                    <a class="promo__btn-link" href="#contact">Contact me</a>
                </div>
            </div>
            <div class="promo__foto">
                <img src="../images/img-face.png" alt="">
            </div>

        </div>

    </div>
</section>